<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.moreversal.grabthathoe"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk tools:overrideLibrary="com.kakao.sdk:v2-user:2.0.1" />

    <application
        android:name=".GrabThatHoeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrabThatHoe">
        <activity
            android:name=".feature_sign.presentation.SignActivity"
            android:exported="false"
            android:label="@string/title_activity_sign"
            android:theme="@style/Theme.GrabThatHoe" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth"-->
                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_native_key" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature_post.presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GrabThatHoe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>